/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .head{
    width: 100%;
    margin: 0;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: rgb(61, 46, 0);
    color: blanchedalmond;
    align-items: center;
    text-align: center;
 }

 .secondary-head{
     background-color: greenyellow;
     text-align: center;
 }

 .main-body{
    background-color: greenyellow;
    text-align: center;
    width: 100%;
}

 .navbar{
    width: 100%;
    background-color: rgb(143, 86, 0);
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
 }

 [class*="but-"] {
    transition-duration: 0.4s;
    padding: 20px;
    text-decoration: none;
  }

/* BUTTONS */

.but-reservation{
    background-color: red;
    color: blanchedalmond;
}
.but-reservation:visited{
    color: blanchedalmond;
}
.but-reservation:hover{
    color: black;
}

.but-barber{
    background-color: lime;
    color: blanchedalmond;
    margin-right: 30%;
}
.but-barber:visited{
    color: blanchedalmond;
}
.but-barber:hover{
    color: black;
}

.but-back{
    margin-right: 75%;
    background-color: purple;
    color: blanchedalmond;
}
.but-back:visited{
    color: blanchedalmond;
}
.but-back:hover{
    color: black;
}

.unfoldable-but{
    transition-duration: 0.4s;
    background-color: red;
    color: blanchedalmond;
    text-decoration: none;
    float: left;
    margin-left: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

[class*="col-"] {
    width: 100%;
  }

@media only screen and (min-width: 768px) {
    .col-1 {float: left; width: 25%; background-color: hotpink;}
    .col-2 {float: left; width: 25%; background-color: indigo;}
    .col-3 {float: left; width: 25%; background-color: lightcoral;}
    .col-4 {float: left; width: 25%; background-color: lightgreen;}
    .col-5 {float: left; width: 33%; background-color: blue;}
    .col-6 {float: left; width: 34%; background-color: red;}
    .col-7 {float: left; width: 33%; background-color: yellow;}
    
}

