/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 .html,body{
    scroll-behavior: smooth;
    transition: margin-left .5s;
    
 }

 #panel{
    float:left;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    background-color: blanchedalmond;
 }
 #sidebar{
    text-align: left;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(39, 23, 0);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
 }
 #sidebar .but-cross {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


 .titles{
    font-family: 'Lobster', cursive;
    font-size: 330%;
 }
 .titles-secondary{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 220%;
 }
 .titles-third{
    font-family: 'Bebas Neue', cursive;
    font-size: 150%;
    letter-spacing: 2px;
 }
 .titles-contact{
    font-family: 'Satisfy', cursive;
    font-size: 200%;
 }
 .paragraph{
    font-family: 'Roboto Mono', monospace;
    font-size: 150%;
    padding-left: 10px;
    padding-right: 10px; 
 }
 .paragraph-f{
    font-family: 'Roboto Mono', monospace;
    font-size: 100%;
    font-weight: bold;
    color: black;
    padding-left: 15%;
    padding-right: 10px;
    text-align: left; 
    background-color: rgb(212, 190, 157);
 }
 .paragraph-s{
    font-family: 'Roboto Mono', monospace;
    font-size: 100%;
    font-weight: bold;
    color: black;
    text-align: left; 
    background-color: rgb(212, 190, 157);
 }
 .we{
    font-family: 'Roboto Mono', monospace;
    color: black;
 }

 .secondary-contact{
    font-family: 'Josefin Sans', sans-serif;
 }

.error{
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(177, 0, 0);
    color: white;
    padding-right: 15%;
    padding-left: 15%;
    border-radius: 20px;
    max-width: 50%;
    margin-left: 9.5%;
}

 

 .head{
    width: 100%;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(20, 12, 0);
    color: blanchedalmond;
    align-items: center;
    text-align: center;
 }
 .dark{
    background-color: rgb(20, 12, 0);;
    width: 100%;
    text-align: right;
 }

 .main-body-1 {
    background-color:rgb(224, 207, 181);
    text-align: center;
    width: 100%;
 }
 
 .secondary-head-1{
     background-color: rgb(224, 207, 181);
     color:rgb(34, 20, 0);
     text-align: center;
 }

.main-body-2{
    background-color:blanchedalmond;
    text-align: center;
    width: 100%;
}
.secondary-head-2{
    background-color: blanchedalmond;
    color:rgb(34, 20, 0);
     text-align: center;
}
.body-login{
    text-align: center;
    background-color: blanchedalmond;
    color: rgb(34, 20, 0);
}
.body-login-bottom{
    height: 100%;
    background-color: blanchedalmond;
    position: absolute;
    bottom: 0px;
}
.input{
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 1px solid rgb(161, 161, 161);
    background-color:  blanchedalmond;
    font-family: 'Oswald', sans-serif;
    font-style:normal;
    font-size: 110%;
}
.input:focus{
    outline: none;
    border-bottom: 2px solid rgb(34, 20, 0);
    background-color: rgb(255, 226, 183);
}


 .navbar{
    width: 100%;
    background-color: rgb(70, 42, 0);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
 }
 .navbar2{
    width: 100%;
    background-color: rgb(70, 42, 0);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
 }
 .navbar3{
    width: 100%;
    background-color: rgb(34, 20, 0);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
 }

 .tail{
    width: 100%;
    text-align: center;
 }
 .tail-head{
    background-color: blanchedalmond;
    color: rgb(20, 12, 0); 
 }
 .tail-tail{
    background-color: rgb(20, 12, 0);
    color:blanchedalmond;
 }
 .tail-tail-index{
    background-color: rgb(20, 12, 0);
    color:blanchedalmond;
 }

 .tail-login{
    width: 100%;
    background-color: rgb(34, 20, 0);
    color: blanchedalmond;
    text-align: center;
 }
 

 .note{
    font-family: 'Roboto Mono', monospace;
 }

 .alignment{
    background-image: url('/assets/RiverPlateStadium.jpg')   
 }
 

.index{
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	width: 100%;
	border-collapse: collapse;
	padding-left: 20px;
	background-color: #474747;
	color: #bfbfbf;
    font-family: 'Roboto Mono', monospace;
}
.index th{
	/*background-color: rgb(34, 20, 0);*/
	border:none;
	text-align: left;
	color: white;
    padding-top: 4%;
    padding-bottom: 4%; 
}
.index td{
    color: white; 
    padding-top: 4%;
    padding-bottom: 4%; 
}
.index tr:nth-child(even) {background-color: #545454;}

.dropdown {
    float: right;
}

.dropdown-container {
    display: none;
    background-color: rgb(20, 12, 0);
    color: white;
    padding-left: 8px;
    transition: 0.5s;
  }

.dropdown-content {
    padding-left: 5%;
    display: none;
    right: 0;
    position: absolute;
    background-color: rgb(39, 23, 0);
    width: 75%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .but-drop {
    background-color: #5c2a02;
  }

.dropdown-title{
    font-size: 125%;
}

/* BUTTONS */

[class*="but-"] {
    transition-duration: 0.2s;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 1%;
    padding-right: 1%;
    text-decoration: none;
    border-width: 1000px;
    border-color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 125%;
  }

.but-drop {
    background-color: #421e00;
    color: white;
    margin-top: 2%;
    padding: 11px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  

[class*="but-dark"]{
    visibility: hidden;
    display: none;
    border: none;
    background-color: rgb(20, 12, 0);
    color: rgb(122, 122, 122);
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1%;
    padding-right: 1%;
    transition: 0s;
    float: right;
    cursor:pointer;
}

.but-dark-l{
    float: left;
}
.but-dark:hover{
    background-color: rgb(34, 34, 34);
}
.but-dark-l:hover{
    background-color: rgb(34, 34, 34);
}

.but-cross{
    background-color:#111;
    color: rgb(63, 63, 63);
    border: 2px solid #111; 
}
.but-cross:hover{
    color: rgb(104, 104, 104);
    background-color: #111;
    border-width: 2px;
    border-color: #111;
}

.but-sidebar{
    /*margin-right: 70%;*/
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}
.but-sidebar:hover{
    /*margin-right: 70%;*/
    color:white;
}

.but-sidebar-r{
    margin-right: 40%;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    background-color: blanchedalmond;
    color: black;
    display: block;
    transition: 0.3s;
}
.but-sidebar-r:hover{
    /*margin-right: 70%;*/
    background-color: rgb(255, 218, 162);
}



.but-reservation{
    background-color:white;
    color: black;
    border: 2px solid black;
    margin-right: 2.5%; 
}
.but-reservation:hover{
    color: white;
    background-color: black;
    border-width: 2px;
    border-color: white;
}

.but-reservation-x{
    background-color:white;
    color: black;
    border: 2px solid black;
    margin-right: 2%;
    visibility: hidden; 
}

.but-menu{
    background-color:rgb(20, 12, 0);
    color: white;
    border: 2px solid rgb(49, 30, 0); 
    margin-right: 25%;
    padding-left: 4%;
    padding-right: 4%;
}


.but-back{
    margin-right: 0%;
    background-color: white;
    color: rgb(49, 30, 0);
    border: 2px solid black;
    border-left: 0px solid black;
}
.but-back:hover{
    color: white;
    background-color: rgb(49, 30, 0);
    border: 2px solid white;
    border-left: 0px solid white;
}

.but-nav{
    color: white;
    display: none;
    letter-spacing: 1px;
}
.but-nav:hover{
    border-bottom: 2px solid white;
}

.but-login{
    background-color:black;
    color: white;
    border: 2px solid black;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 150%; 
}
.but-login:hover{
    color: white;
    background-color: rgb(87, 87, 87);
    border-width: 2px;
    border-color: black;
}

[class*="but-delete-"]

.but-delete{
    background-color: rgb(139, 0, 0);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 150%;
}
.but-delete:hover{
    background-color: white;
    color: rgb(139, 0, 0);
    border: 2px solid rgb(139, 0, 0);
}

[class*="but-delete-"]{
    font-family: 'Roboto Mono', monospace;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 100%;
}
.but-delete-u{
    background-color: rgb(139, 0, 0);
    border: 2px solid rgb(139, 0, 0);
}
.but-delete-u:hover{
    background-color: white;
    color: rgb(139, 0, 0);
}

.but-delete-b{
    background-color: rgb(10, 0, 104);
    border: 2px solid rgb(10, 0, 104);
}
.but-delete-b:hover{
    background-color: white;
    color: rgb(10, 0, 104);
}

.but-delete-n{
    background-color: rgb(0, 97, 0);
    border: 2px solid rgb(0, 97, 0);
}
.but-delete-n:hover{
    background-color: white;
    color: rgb(0, 97, 0);
}
.but-delete-s{
    background-color: rgb(240, 184, 0);
    border: 2px solid rgb(240, 184, 0);
}
.but-delete-s:hover{
    background-color: white;
    color: rgb(240, 184, 0);
}
.dropdown-btn{
    /*margin-right: 70%;*/
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Bebas Neue', cursive;
    cursor: pointer;
}
.dropdown-btn:hover{
    color:white;
}

.vital-mobile{
    display: none;
    background-color: yellow;
}
.vital-mobile:hover{
    background-color: red
}

.admin_select{
    background-color: rgb(128, 128, 128);
    padding: 2%;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}


.imagen{
    max-width: 97.5%;
}
.imagen-we{
    padding-top: 4px;
    max-width: 97%;
    max-height: 350px;
}
.warning{
    width: 20%;
}
.image-container{
    margin-left: 2.4%;
    color:blanchedalmond;
    background-color: rgb(20, 12, 0);
    width: 95%;
}

#y{
    display: none;
}

[class*="col-"] {
    width: 100%;
  }

.col-1{
    background-color:  rgb(224, 207, 181);
    text-align: center;
}
.col-2{
    background-color: rgb(224, 207, 181);
    text-align: center;
}
.col-3{
    background-color:  rgb(224, 207, 181);
    text-align: center;
}
.col-4{
    background-color:rgb(224, 207, 181);
    text-align: center;
}
.col-11 {float: left; width: 20%; text-align: right;} 
.col-12 {float: left; width: 60%;}
.col-13 {float: left; width: 20%; text-align: left;}



@media only screen and (min-width: 768px) {
    .navbar{position: sticky; position: -webkit-sticky; top: 0;}
    .navbar2{position: sticky; position: -webkit-sticky; top: 0;}
    .navbar3{position: sticky; position: -webkit-sticky; top: 0;}
    .head{padding-top: 5%; padding-bottom: 5%;}
    .main-body-2{background-color:rgb(20, 12, 0);}
    .body-login{margin-left: 30%; margin-right: 30%; border-right:15px solid rgb(34, 20, 0); border-left:15px solid rgb(34, 20, 0)}
    .tail-login{padding-top: 5%; padding-bottom: 5%;}
    .image-container{margin-left: 2.2%; background-color: rgb(20, 12, 0);}
    .but-menu{display: none;}
    .but-reservation{padding : 10px; margin-right: 1.5%;}
    .but-nav{padding:0; margin-right: 1.5%; display: inline;}
    .but-back{padding: 10px; margin-right: 0%;}
    .but-login{padding-left: 8%; padding-right: 8%; padding-top: 6px; padding-bottom: 6px;}
    .but-dark-l{visibility:visible; display: inline;}
    .but-dark {display: inline; }
    .index th{padding-top: 15px; padding-bottom: 15px;}
    .index td{padding-top: 15px; padding-bottom: 15px;}
    .dropdown{display: none;}
    .we{font-size: 1.25vw;}
    #y{display: inline;}
    .col-1 {float: left; width: 25%; background-color:  rgb(224, 207, 181)}
    .col-2 {float: left; width: 25%; background-color:rgb(224, 207, 181)}
    .col-3 {float: left; width: 25%; background-color:  rgb(224, 207, 181)}
    .col-4 {float: left; width: 25%; background-color:rgb(224, 207, 181)}
    .col-5 {float: left; width: 33.3%; background-color:  blanchedalmond;}
    .col-6 {float: left; width: 33.3%; background-color:  blanchedalmond;}
    .col-7 {float: left; width: 33.3%; background-color:  blanchedalmond;}
    .col-8 {float: left; width: 100%; background-color: black;} 
    .col-9 {float: left; width: 25%; background-color: black;}
    .col-10 {float: right; width: 25%; background-color: black;}
    .col-14 {float: left; width: 50%; background-color: rgb(224, 207, 181); height: 370px;}
    .col-15 {float: left; width: 50%; background-color: rgb(224, 207, 181); height: 370px;}
}

@media only screen and (max-width: 768px){
    .vital-no{
        display: none;
    }
    .vital-mobile{
        margin-top: 25%;
        display:block;
    }
}

